#ignore all files in output_csv
output_csv/*.csv

#ignore all files in output_jpg
output_jpg/*.jpg
output_jpg/*.jpeg

#ignore all files in output_log
output_log/*.csv

#ignore .pvc
*.pyc

#ignore all backups
*.csv~

#ignore
roipoly